.ConnectDisplayContainer {
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.ConnectDisplayContainer h1 {
  font-family: "Raleway", sans-serif;
}
.ConnectDisplayContainer h4 {
  font-family: "Raleway", sans-serif;
}
