.HeaderContainer {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 1fr;
  padding-top: 2rem;
  height: 3rem;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-bottom: 2rem;
  height: 300px;
  left: 50%;
  background: linear-gradient(
      rgba(161, 184, 156, 0.5),
      rgba(161, 184, 156, 0.5)
    ),
    url("https://media.graphcms.com/dGqX91ARCugyKeuiRECy");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.navBar {
  float: inline-end;
  margin-top: 2rem;
  margin-left: 3rem;
}

.innerWrap {
  position: absolute;
  padding-top: 2rem;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-areas: "left nav nav";
}
.logo {
  margin-left: 4rem;
  height: 40%;
  width: 25%;
}
